*{
    margin: 0ch;
    padding: 0px;
    box-sizing: border-box;
}
.footer img{
    height: 4rem;
    border-radius: 50%;
    border:2px solid rgb(123, 64, 233) ;
}

.footer{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    background-color: rgb(205, 220, 235);
    height: ;
}
.footer--central{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 240px;
    background-color :rgb(253, 253, 253);
    text-align : center;
    margin: 15px;
    width: 300px;
    color: rgb(123, 64, 233);
}
.footer1 p{
    margin-top: 18px;
    margin-bottom: 3px;
}
.footer1 h3{
    margin-top: 10px;
    color:rgb(158, 158, 157)
}
.footer1 img{
    margin-top: 8px;
    margin-bottom: 3px;
}
